.hidden {
  @media (max-width: 1024px) {
    display: none;
  }
}
.Title {
  font-weight: 600;
  color: #f5f5f5;
  line-height: 6rem;
  cursor: url("/black-cursor.png"), auto;
  font-size: 6.5rem;
  @media (max-width: 768px) {
    font-size: 4rem;
    line-height: 2rem;
  }
}
.devGroup {
  @media (max-width: 1024px) {
    justify-content: end;
  }
}
.infoGroup {
  @media (min-width: 1024px) {
    display: none;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.InnerGroup {
  flex-grow: 1;
}
.Button {
  background-color: var(--white);
  &:hover {
    background-color: var(--white);
    box-shadow: none;
  }
  &:active {
    background-color: var(--white);
    box-shadow: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.Link {
  font-weight: 400;
  color: var(--black);
  font-style: italic;
}
.Text {
  font-weight: 400;
  color: var(--light-gray);
  width: 40%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.TextSpan {
  color: var(--white);
  font-style: italic;
}
